# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[*.soy]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

[*.jsp]
indent_style = tab

[*.jspf]
indent_style = tab

[*.java]
indent_style = tab

[*.tld]
indent_style = tab
